<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="My Test Suite"  >
    <test name="Test 0">
        <parameter name="udid" value="088373729L006869"></parameter>
        <parameter name="platformVersion" value="12"/>
        <classes>
            <class name="runner.TestSuite.TestSuiteSetup"/>
        </classes>
    </test>

    <test name="Test 1" preserve-order="true">
        <classes>
            <class name="runner.orgnization.NoOrgTestRunner"/>
            <class name="runner.orgnization.AddOrganizationTestRunner"/>
            <class name="runner.orgnization.ManageOrganizationRunner"/>
            <class name="runner.registration.RegistrationTestRunner" />
            <class name="runner.login.LoginTestRunner" />
        </classes>
    </test>
<!--    <test name="Test 2">-->
<!--        <classes>-->
<!--            <class name="runner.orgnization.AddOrganizationTestRunner"/>-->
<!--        </classes>-->
<!--    </test>-->
<!--    <test name="Test 3">-->
<!--        <classes>-->
<!--            <class name="runner.orgnization.ManageOrganizationRunner"/>-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="Test 4" >-->
<!--        <classes>-->
<!--            <class name="runner.registration.RegistrationTestRunner" />-->
<!--        </classes>-->

<!--    </test>-->
<!--    <test name="Test 5" >-->
<!--        <classes>-->
<!--            <class name="runner.login.LoginTestRunner" />-->
<!--        </classes>-->
<!--    </test>-->
</suite>