<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="My Test Suite" >
    <listeners>
        <listener class-name="runner.TestSuiteSetup"/>
    </listeners>
    <test name="Test 0">
        <classes>
            <class name="runner.orgnization.NoOrgTestRunner"/>
        </classes>
    </test>
    <test name="Test 1">
        <classes>
            <class name="runner.orgnization.TestRunner"/>
        </classes>
    </test>
    <test name="Test 2">
        <classes>
            <class name="runner.orgnization.TestRunner2"/>
        </classes>
    </test>
    <test name="Test 3" >
        <classes>
            <class name="runner.login.LoginTestRunner" />
        </classes>
    </test>
</suite>
