<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="My Test Suite"  parallel="tests" thread-count="2">
    <test name="configure Emulator 1" >
        <parameter name="udid" value="088373729L006869"></parameter>
        <parameter name="platformVersion" value="12"/>
        <classes>

            <class name="runner.TestSuite.TestSuiteSetup">


            </class>
        </classes> </test>

    <test name="Configure Emulator 2">

        <parameter name="udid" value="5HRUW19927003379"></parameter>
        <parameter name="platformVersion" value="9"/>
        <classes>
            <class name="runner.TestSuite.TestSuiteSetup">


            </class>
        </classes>
    </test>

    <test name="Emulator 1">
        <classes>


            <class name="runner.orgnization.NoOrgTestRunner"/>
            <class name="runner.orgnization.AddOrganizationTestRunner"/>
            <class name="runner.orgnization.ManageOrganizationRunner"/>
            <class name="runner.registration.RegistrationTestRunner"/>
            <class name="runner.login.LoginTestRunner"/>


        </classes>
    </test>



    <test name="Emulator 2">
        <classes>

            <class name="runner.navBar.NavBarTestRunner"/>
            <class name="runner.charging_stations.CSmapViewTestRunner"/>
            <class name="runner.charging_stations.CSlistViewTestRunner"/>
            <class name="runner.charging_stations.FilterPageTestRunner"/>
            <class name="runner.charging_stations.ChargePointTestRunner"/>
        </classes>
    </test>
</suite>
